@media (max-width:  1000px) {
  .activeNav {
    height: 300px !important;
  }
}


nav {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 70px;
  margin-bottom: 30px !important;
}
#nav-boot {
  padding: 0 15px;
}

#nav-brand {
  font-size: 2rem !important;
  color: rgb(36, 36, 36);
  margin-left: 10px !important;
}

#nav-brand:hover {
  text-decoration: none !important;
  transform: none !important;
  transition: none !important;
}

#nav-brand-img {
  height: 50px !important;
  /* margin-left: -20px !important; */
  /* margin-top: 5px; */
}

.nav-list {
  margin-top: 10px !important;
}

.navLink {
  text-decoration: none !important;
  color: rgb(64, 64, 64);
}

.navLink:hover {
  font-weight: 700 !important;
}

.dropdown-menu li {
  margin: 0 0 10px 5px;
}

.dropdown-menu li:hover{
  cursor: pointer;
  font-weight: 600 ;
}